name: Build Android APK (Template)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set Android SDK from runner
        run: |
          echo "ANDROID_HOME=/usr/local/lib/android/sdk" >> $GITHUB_ENV
          echo "ANDROID_SDK_ROOT=/usr/local/lib/android/sdk" >> $GITHUB_ENV
          echo "PATH=$PATH:/usr/local/lib/android/sdk/platform-tools" >> $GITHUB_ENV


      - name: Download Android template project
        run: |
          rm -rf android
          git clone https://github.com/android/compose-samples.git android
          cd android/Jetchat

      - name: Build Debug APK
        run: |
          cd android/Jetchat
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: budget-app-apk
          path: android/Jetchat/app/build/outputs/apk/debug/*.apk
